li {
  border: 1px solid var(--purple-800);
  border-radius: 1rem;
  padding: 1rem;

  & + li {
    margin-top: 20px;
  }

  strong {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    color: var(--gray-500);
    margin-top: 8px;
  }

  a {
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    font-weight: bold;
    color: var(--purple-800);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.2);
    }
  }

  transition: border 0.2s;

  &:hover {
    border: 2px solid var(--green-500);
  }
}
